body {background-color: #62D8BB; }
   
   h1 {color: #FF5500; 
       font-family:'Alegreya', sans-serif;
   }
   
   h2 {color: #FF5500;  
       font-family: 'Alegreya', sans-serif;
   }
   
   a {color: #EE3333;}
   
   nav a {color: #007700}
   
   .byline {color: rgba(193,66,66,0.5)} 
   
   #page-copyright {color: #B14600;}
   
   body {
       font-family: 'Open Sans Condensed', sans-serif;
   }
   
   