
body {
    
}
footer hr {
    display: none;
}
.paperclip {
    display: none;
}
.mugshot {
    float: none;
    top: 0;
    margin: 0;
}
main {
    display: block;
}
.row-span-2.col-span-2 {
    grid-column: span 1;
    grid-row: span 1;
}

nav ul {
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    align-items: center;
}
nav a:hover {
    border: none;
    text-decoration: underline;
}
.burger,.burger::after, .burger::before {
    display: block;
    width: 40px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border-top: 5px solid #62D8BB;
}
.burger::after, .burger::before{
    content:"";
    position: absolute;
}
.burger {
    height: 25px;
    cursor: pointer;
    margin-top: 1em;
    position: relative;
}
.burger::after{top: 5px;}
.burger::before{top: 15px;}
